$color_aqua0: rgb(50, 171, 171) 0%;
$color_aqua1: rgb(47, 110, 159) 100%;
$color_lazure: #046a9a;
$color_WA: #00e774;
$color_veryDarkLazure: #5e676f;

.PageWrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	transition: 0.5s;
}


