$borderRadius: 20px;
$mainColor: #982f2d;
$bgColor: #241b1b;

/* "фирменный" обычный */
@font-face {
	font-family: 'Panton';
	src: url(../public/fonts/Panton.ttf);
}

/* "фирменный" жирный */
@font-face {
	font-family: 'Panton bold';
	src: url(../public/fonts/Panton_bold.ttf);
}

@font-face {
	font-family: 'Mayak';
	src: url(../public/fonts/Mayak_Medium.otf);
	//src: url(../public/fonts/Mayak_Condensed_Medium.otf);
}

.fontMayak {
	font-family: 'Mayak', sans-serif;
	//font-size: 20px;
}

.fontPanton {
	font-family: 'Panton', sans-serif;
	//font-size: 20px;
}

.fontPantonBold {
	font-family: 'Panton bold', sans-serif;
	//font-size: 20px;
}

html, body {
	//background-color: $color_bg1;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 16px;
	//width: 100%;
	//min-width: 320px;
	//height: 100%;
	//min-height: 100%;
	//overflow: auto;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	//font-family: 'Mayak', sans-serif;
	color: white;
}

html, body, #app, #app>div {
	//height: 100%;
}

body {
	background: border-box url("/assets/img/no_signal.jpg");
	background-size: 100vw 100vh;
}


body::-webkit-scrollbar {
	width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
	background: orange;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
	background-color: blue;    /* цвет плашки */
	border-radius: 20px;       /* закругления плашки */
	border: 3px solid orange;  /* padding вокруг плашки */
}

.modal{
	color: #241b1b;
	div, label{
		color: #982f2d;
	}
}
//.modal-content{
//	background-color: red;
//}
/*********************************************/


/*********************************************/



.fullWindow {
	height: 100%;
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;

	padding: 50px;
	//background-color: #342828;
	background-color: $bgColor;
	background-image: url("/assets/img/bg1.png");
	background-repeat: repeat;
}

.wrapper {
	//min-height: 100%;
	//border: #001e8b 1px solid;
}

.visuallyHidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

//[class*="__container"]{
//    max-width: 1230px;
//    margin: 0 auto;
//    padding: 0px 15px;
//}


/********************************/


.wrapper {
	border: $mainColor 2px solid;
	margin: 10px;
}

.wrapper__adminBar{
	font-family: 'Mayak', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 100vw;
	border-bottom: $mainColor 2px solid;
	background-color: rgba(152, 47, 45, 0.1);
	backdrop-filter: blur(4px);
	z-index: 2;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 1rem;

	.buttonsBlock{
		display: flex;
	}
}
.adminBar__arrow{
	position: absolute;
	top: 0;
	right: 0;
	height: 45px;
	border: 1px solid $mainColor;
	background-color: rgba(152, 47, 45, 0.5);
	filter: blur(0.45px) drop-shadow(0 0 0 #fff1);
	z-index: 3;
	cursor: pointer;
}

.wrapper__header{
	font-family: 'Mayak', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 5vh;
	border-radius: $borderRadius $borderRadius 0 0;
	padding: 0 20px;
}

.wrapper__body{
	display: flex;
	//align-items: stretch;
	//justify-content: center;
	flex-wrap: nowrap;
	min-height: 85vh;
	font-family: 'Panton', sans-serif;
}

.wrapper__leftBlock{
	font-family: 'Mayak', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.wrapper__navBar{
	width: 13vw;
	min-width: 200px;
	margin: 10px;
	&_top{
		margin-bottom: 10px;
		//height: 80%;
		flex-grow: 1;
	}
	&_bottom{
		border-radius: 0 0 0 $borderRadius;
		height: 20%;
		flex-grow: 2;
	}
}

.wrapper__music{
	padding: 10px;
}

.wrapper__content{
	width: 100%;
	padding: 10px;
	border-radius: 0 0 $borderRadius 0;
}

.wrapper__footer{
	min-height: 5vh;
}

.wrapper__sites{
	overflow: auto;
	max-height: 80vh;
	.img{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	img{
		padding-right: 5px;
	}
}

.wrapper__cert{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.wrapper__tel{
	overflow: auto;
	//background-color: #61dafb;
	max-height: 80vh;

	.tel__title{
		margin: 10px 0 0 10px;
		//margin: 0 auto;
	}
}

.wrapper__contacts{
	display: flex;
	flex-direction: column;

}

.wrapper__docs{
	.doc{
	margin-bottom: 10px;
		padding: 5px;
		display: flex;
		align-items: center;
		//background-color: #046a9a;
		background-color: rgba(152, 47, 45, 0.3);
		text-decoration: none;
		&:hover{
			//background-color: #104057;
			background-color: rgba(152, 47, 45, 0.5);
		}
	}
	.img{
		height: 80px;
		//width: 200px
	}
}

.wrapper__vks {
	overflow: auto;
	max-height: 80vh;
}

.wrapper__error{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wrapper__403{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.btn {
	background-color: rgba(152, 47, 45, 0.0);
	padding: 10px;
	//margin-bottom: 10px;
	display: block;
	//background-color: red;
	text-align: center;
	text-decoration: none;
	transition: 0.5s;

	&:hover {
		background-color: rgba(152, 47, 45, 0.5);
		cursor: pointer;
		transition: 0.5s;
	}
}
.btn__arrow{
	height: 30px;
	margin: 0 10px;
}

.knpk{
	cursor: pointer;
	&:hover{
		//text-decoration: underline;
		background-color: rgba(152, 47, 45, 0.5);
	}
}

//a {
//	text-decoration: none;
//	cursor: pointer;
//	color: $color_veryDarkLazure;
//	&:hover {
//		text-decoration: underline;
//		color: $color_veryDarkLazure;
//	}
//}
//
//.container {
//	max-width: $containerWidth;
//	margin: 0 auto;
//	padding: 0 15px;
//	@media screen and (max-width: $tableWidth) {
//	padding: 0 5px;
//}
//	@media screen and (max-width: $mobileWidth) {
//		padding: 0 5px;
//	}
//}
//
//h2 {
//	color: $color_lazure;
//	font-family: 'Panton', sans-serif;
//	//font-size: 32px;
//	margin: 20px 0;
//}
//th {
//	font-family: 'Panton', sans-serif;
//}
//
//
//@media(max-width: $containerWidth) {
//	.container {
//		width: auto;
//	}
//}
//
//
//
////
////.fullWidth {
////    width: 100%;
////}
////

.oldFilm *,
.oldFilm *:before,
.oldFilm *:after {
	position: absolute;
}
.oldFilm {
	--filmbg: #fff;
	height: 500px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--filmbg);
	background-image: url(/assets/img/bg1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.5s ease 0s;
	margin: 20px 0;
	border-radius: 30px;
}
.oldFilm:after {
	content: "";
	width: 100%;
	height: 100%;
	box-shadow: 0 0 180px 0 var(--filmbg) inset, 0 0 40px 5px var(--filmbg) inset, 0 0 10px 10px var(--filmbg);
	position: absolute;
}
.film,
.effect {
	width: 100%;
	height: 100%;
	filter: blur(0.45px) drop-shadow(0 0 0 #fff1);
}
.film:after,
.effect:after {
	content: '';
	width: 120%;
	height: 100%;
	top: 0;
	left: 0;
	padding-left: 100px;
	opacity: 0.5;
	animation: film-scratch 0.45s steps(1) infinite;
	background: repeating-linear-gradient(90deg, #0002 0 2px, transparent 4px 37%);
}
.effect:after {
	left: 30%;
	animation: effect-scratch 2s infinite;
}
.grain {
	width: 100%;
	height: 100%;
}
.grain:after {
	content: '';
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	opacity: .25;
	background-image: repeating-conic-gradient(var(--filmbg) 0%, transparent .00003%, transparent .0005%, transparent .00095%), repeating-conic-gradient(var(--filmbg) 0%, transparent .00005%, transparent 0.00015%, transparent 0.0009%);
	animation: grain 0.5s steps(1) infinite;
}
@keyframes grain {
	0%, 100% { transform: translate(0, 0); }
	10% { transform: translate(-1%, -1%); }
	20% { transform: translate(1%, 1%); }
	30% { transform: translate(-2%, -2%); }
	40% { transform: translate(3%, 3%); }
	50% { transform: translate(-3%, -3%); }
	60% { transform: translate(4%, 4%); }
	70% { transform: translate(-4%, -4%); }
	80% { transform: translate(2%, 2%); }
	90% { transform: translate(-3%, -3%); }
}
@keyframes film-scratch {
	0%, 100% { transform: translateX(0); opacity: 0.5; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); opacity: 0.75; }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(-2%); }
}
@keyframes effect-scratch {
	0% { transform: translateX(0); opacity: 0.75; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(20%); }
	100% { transform: translateX(30%); }
}
.oldFilm.sepia {
	filter: sepia(0.75);
}
.oldFilm.invert .film {
	filter: invert(1)
}