/* "фирменный" обычный */
@font-face {
	font-family: 'Panton';
	src: url(../public/fonts/Panton.ttf);
}

/* "фирменный" жирный */
@font-face {
	font-family: 'Panton bold';
	src: url(../public/fonts/Panton_bold.ttf);
}

@font-face {
	font-family: 'Mayak';
	src: url(../public/fonts/Mayak_Medium.otf);
}

.fontPanton {
	font-family: 'Mayak', sans-serif;
	//font-size: 20px;
}

.fontPantonBold {
	font-family: 'Panton bold', sans-serif;
	//font-size: 20px;
}

html, body {
	//background-color: $color_bg1;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 16px;
	//width: 100%;
	//min-width: 320px;
	//height: 100%;
	//min-height: 100%;
	//overflow: auto;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Mayak', sans-serif;
	-webkit-tap-highlight-color: transparent;

	color: white;
	background-color: #342828;
}

html, body, #app, #app>div {
	//height: 100%;
}


.fullWindow {
	height: 100%;
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;

	padding: 50px;
}

.wrapper {
	//min-height: 100%;
	//border: #001e8b 1px solid;
}

.visuallyHidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

//[class*="__container"]{
//    max-width: 1230px;
//    margin: 0 auto;
//    padding: 0px 15px;
//}


/********************************/
$borderRadius: 20px;


.wrapper {
	border: red 2px solid;
	margin: 10px;
}

.wrapper__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 5vh;
	border-radius: $borderRadius $borderRadius 0 0;
	padding: 0 20px;
}

.wrapper__body{
	display: flex;
	//align-items: stretch;
	//justify-content: center;
	flex-wrap: nowrap;
	min-height: 85vh;
}

.wrapper__leftBlock{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.wrapper__navBar{
	width: 15vw;
	margin: 10px;
	&_top{
		margin-bottom: 10px;
		height: 60%;
	}
	&_bottom{
		border-radius: 0 0 0 $borderRadius;
		height: 40%;
	}
}
.wrapper__content{
	width: 100%;
	padding: 10px;
	border-radius: 0 0 $borderRadius 0;
	
}

.wrapper__footer{
	min-height: 5vh;
}


//a {
//	text-decoration: none;
//	cursor: pointer;
//	color: $color_veryDarkLazure;
//	&:hover {
//		text-decoration: underline;
//		color: $color_veryDarkLazure;
//	}
//}
//
//.container {
//	max-width: $containerWidth;
//	margin: 0 auto;
//	padding: 0 15px;
//	@media screen and (max-width: $tableWidth) {
//	padding: 0 5px;
//}
//	@media screen and (max-width: $mobileWidth) {
//		padding: 0 5px;
//	}
//}
//
//h2 {
//	color: $color_lazure;
//	font-family: 'Panton', sans-serif;
//	//font-size: 32px;
//	margin: 20px 0;
//}
//th {
//	font-family: 'Panton', sans-serif;
//}
//
//
//@media(max-width: $containerWidth) {
//	.container {
//		width: auto;
//	}
//}
//
//
//
////
////.fullWidth {
////    width: 100%;
////}
////
